<div class="row">

    <mat-card class="text-center col-12 col-md-6"> 
        <div>
            FIPE
            <div>
                <mat-form-field class="col-10">
                    <mat-label>Veiculo</mat-label>
                    <mat-select (selectionChange)='getMarcas($event.value)'>
                        <mat-option value="carros">Carros</mat-option>
                        <mat-option value="motos">Motos</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-10">
                    <mat-label>Marcas</mat-label>
                    <mat-select (selectionChange)='getModelos($event.value)'>
                        <mat-option *ngFor="let marca of marcas" [value]="marca.codigo">
                            {{marca.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="col-10">
                    <mat-label>Modelos</mat-label>
                    <mat-select (selectionChange)='getAnos($event.value)'>
                        <mat-option *ngFor="let modelo of modelos" [value]="modelo.codigo">
                            {{modelo.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-10">
                    <mat-label>Anos</mat-label>
                    <mat-select (selectionChange)='getResultado($event.value)'>
                        <mat-option *ngFor="let ano of anos" [value]="ano.codigo">
                            {{ano.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="resultadoFipe">
                <div>
                    Valor: {{resultadoFipe.Valor || currency}}
                </div>
                <div>
                    Mês Referência FIPE: {{resultadoFipe.MesReferencia}}
                </div>
            </div>
        </div>
        
    </mat-card>

    <mat-card class="text-center col-12 col-md-6">
        Calculadora de Financimento
        <div>
            <mat-form-field class="col-10">
                <mat-label>Valor do Veículo</mat-label>
                <input currencyMask matInput #valorTotal value="{{valorFIPE}}">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-10">
                <mat-label>Entrada</mat-label>
                <input currencyMask matInput #entrada>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-10">
                <mat-label>Parcela Residual (caso tenha)</mat-label>
                <input currencyMask matInput #parcelaResidual>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-10">
                <mat-label>Nº Parcelas</mat-label>
                <input matInput #numParcelas type="number" maxlength="2" min="1" max="100" placeholder="Ex. 36" step="1" value="36">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-10">
                <mat-label>Taxa de Juros/Financiamento</mat-label>
                <input matInput #taxaJuros type="number" placeholder="0.7" min="0" (change)="clearParcelaIdeal()">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
        <div class="mt-3">
            <mat-form-field class="col-10">
                <mat-label>Parcela Ideal</mat-label>
                <input currencyMask matInput #parcelaTotal>
            </mat-form-field>
        </div>


    </mat-card>

</div>